shamefully-hoist=true
strict-peer-dependencies=false
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{ version }}
